@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 46 100% 95%;
        --foreground: 46 5% 10%;
        --card: 46 50% 90%;
        --card-foreground: 46 5% 15%;
        --popover: 46 100% 95%;
        --popover-foreground: 46 100% 10%;
        --primary: 46 83.4% 59.8%;
        --primary-foreground: 0 0% 100%;
        --secondary: 46 30% 70%;
        --secondary-foreground: 0 0% 0%;
        --muted: 8 30% 85%;
        --muted-foreground: 46 5% 35%;
        --accent: 8 30% 80%;
        --accent-foreground: 46 5% 15%;
        --destructive: 0 100% 30%;
        --destructive-foreground: 46 5% 90%;
        --border: 46 30% 50%;
        --input: 46 30% 26%;
        --ring: 46 83.4% 59.8%;
        --radius: 0.5rem;
    }

    .dark {
        --background: 46 50% 10%;
        --foreground: 46 5% 90%;
        --card: 46 50% 10%;
        --card-foreground: 46 5% 90%;
        --popover: 46 50% 5%;
        --popover-foreground: 46 5% 90%;
        --primary: 46 83.4% 59.8%;
        --primary-foreground: 0 0% 100%;
        --secondary: 46 30% 20%;
        --secondary-foreground: 0 0% 100%;
        --muted: 8 30% 25%;
        --muted-foreground: 46 5% 60%;
        --accent: 8 30% 25%;
        --accent-foreground: 46 5% 90%;
        --destructive: 0 100% 30%;
        --destructive-foreground: 46 5% 90%;
        --border: 46 30% 26%;
        --input: 46 30% 26%;
        --ring: 46 83.4% 59.8%;
        --radius: 0.5rem;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground font-poppins;
    }

    h1, h2, h3, h4, h5, h6 {
        @apply text-foreground font-montserrat font-bold;
    }

    li, a {
        @apply uppercase
    }
}
