@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root  {
        --background: 252, 19%, 95%;
        --foreground: 47 0% 0%;
        --card: 47 0% 90%;
        --card-foreground: 47 0% 10%;
        --popover: 47 0% 95%;
        --popover-foreground: 47 95% 0%;
        --primary: 47 82% 59%;
        --primary-foreground: 0 0% 100%;
        --secondary: 9 10% 80%;;
        --secondary-foreground: 0 0% 0%;
        --muted: 9 10% 85%;
        --muted-foreground: 47 0% 35%;
        --accent: 9 10% 80%;
        --accent-foreground: 47 0% 10%;
        --destructive: 0 50% 30%;
        --destructive-foreground: 47 0% 90%;
        --border: 47 20% 50%;
        --input: 47 20% 18%;
        --ring: 47 81.6% 59.4%;
        --radius: 0.75rem;
    }
    .dark  {
        --background: 264, 27%, 11%;
        --foreground: 47 0% 90%;
        --card: 47 0% 0%;
        --card-foreground: 47 0% 90%;
        --popover: 47 10% 5%;
        --popover-foreground: 47 0% 90%;
        --primary: 47 82% 59%;
        --primary-foreground: 0 0% 100%;
        --secondary: 47 10% 10%;
        --secondary-foreground: 0 0% 100%;
        --muted: 9 10% 15%;
        --muted-foreground: 47 0% 60%;
        --accent: 9 10% 15%;
        --accent-foreground: 47 0% 90%;
        --destructive: 0 50% 30%;
        --destructive-foreground: 47 0% 90%;
        --border: 47 20% 18%;
        --input: 47 20% 18%;
        --ring: 47 81.6% 59.4%;
        --radius: 0.75rem;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground font-poppins;
    }

    h1, h2, h3, h4, h5, h6 {
        @apply text-foreground font-montserrat;
    }

    li > a {
        @apply uppercase
    }
}
